$primary-color: #003459;
$secondary-color: #FFE7BA;
$highlight-color: #FCEED5;
$highlight-color-dark: #FCEED5;
$highlight-color-light: #FFE7BA;
$text-color: #242B33;
$font-size-small: 10px;
$font-size-medium: 16px;
$font-size-large: 35px;
$font-size-xlarge: 50px;
$font-size-xxlarge: 20px;
$font-size-xxxlarge: 30px;
$font-size-btn: 18px;
$border-radius: 25px;
$box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

