@import 'scss/variables'; 
@import 'scss/footer.scss'; 
@import 'scss/navbar.scss'; 
@import 'scss/card'; 
@import 'scss/box1'; 
@import 'scss/container2'; 
@import 'scss/container3'; 
@import 'scss/container4'; 
@import 'scss/container6';
@import 'scss/card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(102.87deg, $highlight-color 6.43%, $highlight-color-dark 78.33%, $highlight-color-light 104.24%);
  height: 610px;
  width: 1350px;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
}





